[user]
    name = <%= print("Your Name: "); STDOUT.flush; STDIN.gets.chomp %>
    email = <%= print("Your Email: "); STDOUT.flush; STDIN.gets.chomp %>
[alias]
    co = checkout
    st = status
    d = diff
[color]
    diff = auto
    status = auto
    branch = auto
[core]
    excludesfile = <%= ENV['HOME'] %>/.gitignore
    editor = vim
[apply]
    whitespace = nowarn
[github]
    user = <%= print("GitHub Username: "); STDOUT.flush; STDIN.gets.chomp %>
    token = <%= print("GitHub API Token: "); STDOUT.flush; STDIN.gets.chomp %>
